#content {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 32px;
  left: 0;
}

#navigation {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 32px;

  background-color: #222;

  display: flex;
  flex-direction: row;

  line-height: 32px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

#navigation .arrow {
  font-weight: bold;
  flex: 2;
  cursor: pointer;
}

#navigation .arrow:hover {
  background-color: #444;
}

#navigation #previous {
  border-radius: 0px 0px 16px 0px;
  border-right: 2px solid #444;
}

#navigation #next {
  border-radius: 16px 0px 0px 0px;
  border-left: 2px solid #444;
}

#navigation .title {
  flex: 1;
  overflow: hidden;
}

#errors {
  pointer-events: none;
  background-color: #a11e;
  position: absolute;
  margin: 0;
  padding: 0 32px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.2s;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

#errors.visible {
  pointer-events: all;
  opacity: 1;
}

#errors h3 {
  color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
