body {
  --footer-height: 48px;
}

#content {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  bottom: var(--footer-height);
  left: 0;
}

#navigation {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--footer-height);

  box-shadow: inset 0px 2px 8px #000b;

  background-color: #222;
  font-family: "verdana";

  display: flex;
  flex-direction: row;

  line-height: var(--footer-height);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

#navigation .arrow {
  flex: 2;
  cursor: pointer;
}

#navigation .arrow:hover {
  background-color: #444;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: inset 0px 2px 8px #000b;
}

#navigation #previous {
  border-radius: 0px 0px 16px 0px;
  border-right: 1px solid;
}

#navigation #next {
  border-radius: 16px 0px 0px 0px;
  border-left: 1px solid;
}

/*#navigation .title {
  flex: 1;
  overflow: hidden;
}*/

#navigation #fullscreen {
  width: 42px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 10px 24px;

  cursor: pointer;
}

#navigation #fullscreen:hover {
  background-color: #444;
  border-color: rgba(255, 255, 255, 0.87);
}

#errors {
  pointer-events: none;
  background-color: #a11e;
  position: absolute;
  margin: 0;
  padding: 0 32px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: opacity 0.2s;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

#errors.visible {
  pointer-events: all;
  opacity: 1;
}

#errors h3 {
  color: rgba(255, 255, 255, 0.87);
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
